<html>
    <head>
    <!-- Basic Page Needs –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>{.Title}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="/static/css/pure-min.css">
    <link rel="stylesheet" href="/static/css/grids-responsive-min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>

    <!-- Favicon (disabled for now)––––––––––––––––––––––––––––– -->
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    {% block head %}{% endblock %}
    </head>
    <body>
	<div class="pure-g">
	    <div class="pure-u-1-24">
	    </div>
	    <div class="pure-u-22-24">
		{% block body %}{% endblock %}
	    </div>
	    <div class="pure-u-1-24">
	    </div>
	</div>
    </body>
</html>
