{% extends "base.html" %}
{% block head %}
<script src="https://toplan.github.io/js/vim.js"></script>
{% endblock %}


{% block body %}
<body style="padding: 0.5em;">
<div class="container">
    <form action="{{ path }}" method="POST">
        <div class="row">
            <textarea name="text" class="col-md-12" rows="10">{{ text|safe }}</textarea>
        </div>
        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary" value="update" name="update">Save</button>
        </div>
    </form>
</div>
<script>
// Replace the <textarea id="editor1"> with a CKEditor
// instance, using default configuration.
//CKEDITOR.replace( 'text' );
vim.open({
    debug   : true,
    showMsg : function(msg){
        alert('vim.js say:' + msg);
    }
});
</script>
</body>
{% endblock %}
