{% extends 'base.html' %}

{% block body %}
{% include "header.html" %}
{% include "recent.html" %}

<a href="/{{ path }}?action=edit" class="pure-button">Edit</a>
{{ text|safe }}
<a href="/{{ path }}?action=edit" class="pure-button">Edit</a>
<a href="/{{ path }}/rename" class="pure-button">Rename</a>
<a href="/{{ path }}?action=delete" class="pure-button">Delete</a>
<script>
$('body').on('keydown', function(e) {
    if (e.which == 69) {
        window.location.href = window.location.href + '?action=edit';
    }
});
</script>

{% endblock %}
