{{define "head"}}
<script src="https://toplan.github.io/js/vim.js"></script>
{{end}}
{{define "body"}}
<body style="padding: 0.5em;">
<div class="container">
    <form action="{{.Path}}" method="POST">
        <div class="row">
            <input class="btn btn-default" type="submit" value="update" name="update"/><br/>
        </div>
        <div class="row">
            <textarea name="text" class="col-md-offset-2 col-md-8" style="height: 40em;">{{.Text}}</textarea>
        </div>
    </form>
</div>
<script>
// Replace the <textarea id="editor1"> with a CKEditor
// instance, using default configuration.
//CKEDITOR.replace( 'text' );
vim.open({
    debug   : true,
    showMsg : function(msg){
        alert('vim.js say:' + msg);
    }
});
</script>
</body>
{{end}}
