<html>
<head>
<script src="https://toplan.github.io/js/vim.js"></script>
<script src="http://cdn.ckeditor.com/4.5.5/basic/ckeditor.js"></script>
    <!-- Basic Page Needs –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Your page title here :)</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/skeleton.css">

    <!-- Favicon –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="/static/images/favicon.png">	
</head>
<body style="padding: 0.5em;">
<div class="container">
    <form action="{{.Path}}" method="POST">
        <input type="submit" value="Update" /><br />
        <textarea name="text" style="width: 100%; height: 40em;">{{.Text}}</textarea>
    </form>
</div>
<script>
// Replace the <textarea id="editor1"> with a CKEditor
// instance, using default configuration.
//CKEDITOR.replace( 'text' );
vim.open({
    debug   : true,
    showMsg : function(msg){
        alert('vim.js say:' + msg);
    }
});
</script>
</body>
</html>
